$color-white: #fff;
$color-black: rgb(29, 29, 29);
$color-dark: rgb(59, 59, 59);
$color-grey: hsl(0, 0%, 48%);
$color-medium-grey: #dbdbdb;
$color-light-grey: #f0f0f0;

$color-primary: hsl(176, 72%, 28%);
$color-secondary: hsl(176, 50%, 47%);

$color-cream: #fafafa;

$big-bold-text: 1.9rem;
$button-text: 1rem;
