.header {
  height: 25rem;
  background-image: url(../images/image-hero-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  text-align: center;
}

//mobile
@media screen and (max-width: 500px) {
  .header {
    height: 15rem;
  }
}
