html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  line-height: 1.8;
  margin: 0;
  padding: 0;
  background-color: $color-cream;
}
