html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input[type="checkbox"] {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  position: fixed;
}

body {
  height: 100%;
  line-height: 1.8;
  margin: 0;
  padding: 0;
  background-color: $color-cream;
}
